.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.git/
.github/
notebooks/
scripts/
tests/
reports/
docs/
conf/
artifacts/
auth.db
.env
*.md

data/raw/*
!data/raw/hh_demographic.csv

data/interim/*

data/processed/*
!data/processed/product_dim.parquet
